---
- name: Install PostgreSQL
  ansible.builtin.apt:
    name:
      - postgresql
      - postgresql-contrib
    state: present

- name: Ensure PostgreSQL is started and enabled
  ansible.builtin.systemd:
    name: postgresql
    state: started
    enabled: yes

- name: Get PostgreSQL version
  ansible.builtin.shell: pg_config --version | grep -oP '\d+' | head -1
  register: pg_version
  changed_when: false

- name: Enable SSL in PostgreSQL configuration
  ansible.builtin.lineinfile:
    path: /etc/postgresql/{{ pg_version.stdout }}/main/postgresql.conf
    regexp: "^#?ssl\\s*="
    line: "ssl = on"
    state: present
  notify: restart postgresql

- name: Create database user
  community.postgresql.postgresql_user:
    name: "{{ db_user }}"
    password: "{{ db_password }}"
    state: present
  become_user: postgres

- name: Create database
  community.postgresql.postgresql_db:
    name: "{{ db_name }}"
    owner: "{{ db_user }}"
    encoding: UTF8
    lc_collate: en_US.UTF-8
    lc_ctype: en_US.UTF-8
    template: template0
    state: present
  become_user: postgres

- name: Grant all privileges on database
  community.postgresql.postgresql_privs:
    db: "{{ db_name }}"
    privs: ALL
    type: database
    role: "{{ db_user }}"
    state: present
  become_user: postgres
